################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EntertainLog/obj/Debug/net8.0/EntertainLog.AssemblyInfo.cs
/EntertainLog/Migrations
/EntertainLog/.vs/EntertainLog/FileContentIndex
