################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EntertainLog/.vs/EntertainLog/FileContentIndex/20adfb25-f089-4a84-8282-43ebe514bae6.vsidx
/EntertainLog/.vs/EntertainLog/FileContentIndex/45391366-4a55-4108-81d7-1109cbfdbf37.vsidx
/EntertainLog/.vs/EntertainLog/FileContentIndex/7e665806-c243-407d-9075-9fdc83c6cf72.vsidx
/EntertainLog/.vs/EntertainLog/FileContentIndex/ad0bca07-2856-4b71-95c6-f0afb9bbf20e.vsidx
/EntertainLog/.vs/EntertainLog/FileContentIndex/ad39c2d4-1d4f-4d4f-b765-7966303484c2.vsidx
/EntertainLog/.vs/EntertainLog/FileContentIndex/b083e760-208f-4186-9ea7-62e1b8684131.vsidx
/EntertainLog/.vs/EntertainLog/FileContentIndex/bc9ab3b2-d5ae-4b55-a360-083e6000221a.vsidx
/EntertainLog/.vs/EntertainLog/FileContentIndex/d405b837-e29e-4580-8c6a-0f34084ef111.vsidx
/EntertainLog/.vs/EntertainLog/FileContentIndex/ebfb812e-ae09-4b92-9c2c-b7f6711ef35e.vsidx
/EntertainLog/.vs/EntertainLog/FileContentIndex/f8843f53-01ba-4459-8eea-8fefc7fc9092.vsidx
