@model EntertainLog.Models.ViewModel.LoginViewModel
@{
    Layout = "_Layout";

}

<html>
    <body>
        <h2>Tell us who you are?</h2>
        <form asp-action="Login" method="post">
            <div>
                <label asp-for="@Model.Username">UserName</label><br />
                <input asp-for="@Model.Username"/>
                <label asp-for="@Model.Password">Password</label><br />
                <input asp-for="@Model.Password"/>
                <button type="submit">Login Now</button>
            </div>
        </form>
    </body>
</html>